# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

############################
# Dependencies
############################
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

############################
# Testing
############################
/coverage

############################
# Next.js build
############################
/.next/
/out/
/build

############################
# Supabase local development
############################
.supabase/
supabase/.temp/
supabase/.branches/

############################
# Logs
############################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# Environment variables
############################
.env*
!.env.example

############################
# Vercel
############################
.vercel

############################
# OS / Editor
############################
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

############################
# Certificates
############################
*.pem

############################
# TypeScript
############################
*.tsbuildinfo
next-env.d.ts